@import url('assets/satis.css');
@import url('assets/pace-theme-default.css');
@import url('assets/pace-theme.css');

.modal-open .modal {    
    background-color: #31416abf;
}

.modal.show .modal-dialog {
        -webkit-transform: translate(0, 20%) !important;
    transform: translate(0, 20%)  !important;
}

@media(max-height:768px){
  .modal.show .modal-dialog {
        -webkit-transform: translate(0, 00%) !important;
    transform: translate(0, 0%) !important;
}  
}

.toasted .primary, .toasted.toasted-primary {
    
    background-color: #2677f6 !important;

}

table button, table .button {    
    padding: 2px;
    font-size: 12px;
}


.pace.pace-active {
    height: 100%;
    background: #ffffffc2;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 9999999;
}
table {
    margin: 5px
}
table .actions {
    text-align: right;
}
.actions > * {
    display: inline-block;
}

form {
    width: 80%;
}